# Cloudflare R2 API
# Get these from: https://dash.cloudflare.com/
# Access Key ID and Secret Access Key: Create at R2 API tokens section
# Bucket Name: The name of your R2 bucket
# Endpoint: Your R2 endpoint URL
# Public URL: Enable Public Development URL in R2 bucket settings
ACCCESS_KEY_ID=your_r2_access_key_id
SECRET_ACCESS_KEY=your_r2_secret_access_key
TOKEN_VALUE=your_r2_token_value
R2_PUBLIC_URL=https://pub-118c09941ed84b2aa0d3315468271eb9.r2.dev

# Next.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret
